page-error-token {
  .scroll-content {
    z-index: 100;
    overflow: visible;
    margin-top: 235px !important;
  }
  .container-branco {
    img.img-token-invalido {
      margin-top: 20px;
      max-width: 60%;
    }
    .font-error-token {
      font-size: 30px;
      padding-bottom: 30px;
      color: $gray;
    }
  }
}
