page-carrinho {
  .container-topo-app {
    img.img-cancel-white {
      max-width: 25%;
      top: 0;
      padding-left: 0;
    }
  }
  .container-branco {
    padding: 0;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid $lightgray;
    .font-error-token {
      font-size: 24px;
      padding-top: 20px;
      padding-bottom: 30px;
      color: $gray;
    }
  }
  .container-branco-bottom {
    border-radius: 0 0 20px 20px;
    padding: 20px !important;
    border-bottom: none;
    input[type=number] {
      width: 25px;
      float: left;
      height: 40px;
      background: transparent;
      border: none;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
      font-weight: 100;
    }
    button {
      &.add-carrinho {
        width: 100px;
        height: 100px;
        background: $verde;
        border-radius: 50%;
        position: absolute;
        margin-left: -50px;
        left: 50%;
        bottom: -100%;
        &:focus {
          outline: none;
        }
      }
      &.add, &.del {
        float: left;
        font-size: 25px;
        font-weight: 300;
        background: transparent;
        &:focus {
          outline: none;
        }
      }
      img {
        max-width: 60%;
        float: initial;
        margin-top: -5px;
      }
    }
    span {
      &.valor-pedido {
        color: $gray;
        line-height: 20px;
        b {
          color: $azul;
          font-weight: 600;
          font-size: 30px;
        }
      }
    }
  }
  .container-branco-bottom-no-margin {
    margin-bottom: 0;
    p {
      &.descricao-produto {
        padding: 0;
        margin-bottom: 0;
        ion-icon {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }
  .container-botoes {
    padding: 30px;
    margin: 0 0 20px;
    background: transparent;
    border-radius: 30px;
    border-bottom: none;
    .btn-ver-cardapio {
      line-height: 34px;
      font-weight: 400;
      font-size: 17px;
      margin-top: 0;
      img {
        height: 30px;
        float: left;
      }
    }
    .btn-imprimir {
      background: $azul;
      img {
        max-width: 100%;
        display: table;
        margin: 0 auto;
        float: inherit;
      }
    }
    .btn-cancelar {
      background: #f44236;
    }
  }
  .container-branco-rounded {
    border-radius: 30px;
    border-bottom: none;
  }
  .scroll-content {
    z-index: 100;
    margin-top: 135px !important;
  }
  .container-item-sacola {
    .container-img-sacola {
      padding-right: 0;
    }
    &:nth-child(even) {
      padding-top: 0 !important;
    }
    margin-bottom: 0;
    img {
      float: left;
      max-width: 100%;
      margin-right: 10px;
    }
    .valor-produto-carrinho {
      font-size: 11px;
      color: $gray;
      float: left;
      b {
        width: 100%;
        float: left;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .cancel-item {
      max-width: 100%;
      margin-top: 15px;
    }
    .container-qtd-produto {
      padding: 0;
    }
    input[type=number] {
      width: 25px;
      height: 29px;
      margin-top: 10px;
      font-size: 20px;
    }
    button {
      &.del,
      &.add{
        margin-top: 10px;
        font-size: 19px;
      }
      &.del {
        padding-right: 0;
      }
      &.add {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .btn-refazer-pedido {
      background: $azul;
      height: 55.5px;
      margin-top: 5px;
      border-radius: 15px;
    }
    .qtd-itens-pedidos {
      font-size: 24px;
      color: $gray;
      line-height: 66px;
      text-align: right;
      float: right;
      margin-right: 25px;
    }
  }
}
